<table id="calendar">
    <tr> 
        <th id="news_data"> <span id="calendar_day">15.03</span> </br> <span id="calendar_dayofweek">pon</span></th>
        <th id="news_tresc">To jest najbliższe wydarzenie numer 1. Ale nie jest takie ważne.</th>
    </tr>
    <tr> 
        <th id="news_data"><span id="calendar_day">16.03</span></br><span id="calendar_dayofweek"> wt</span></th>
        <th id="news_tresc">To jest najbliższe wydarzenie numer 2. Czyli że jest mniej najbliższe.</th>
    </tr>
    <tr> 
        <th id="news_data"><span id="calendar_day">18.03</span> </br><span id="calendar_dayofweek"> czw</span></th>
        <th id="news_tresc">A to już w ogóle daleka przyszłość.</th>
    </tr>
    <tr> 
        <th id="news_data"><span id="calendar_day">1.04</span> </br><span id="calendar_dayofweek"> wt</span></th>
        <th id="news_tresc">Prima aprilis!.</th>
    </tr>
</table>